block variables 
doctype html
html
    head
        meta(charset="utf-8")
        title #{title} | ecothumbs 
        block scripts 
            link(rel="stylesheet", href="/style.css")
    body 
        header#header.content-wrapper 
            h2.logo ecothumbs
            nav#main-navigation 
                ul
                    //- each link in menu 
                    //-     li 
                    //-         a(href=link.path) #{link.name}
                    li 
                        a(href="/") Home 
                    li 
                        a(href="/shop") Shop 
                    li 
                        a(href="/about") About
                    li 
                        a(href="/cart") Cart


        main#main
                block main-content
                block hero-content     
                block photos-content
                block shop-content

        footer#footer
            #newsletter
            .content-wrapper 
                .newsletter 
                h4 Subscribe to our Newsletter
                input(type="text", name="Newsletter", placeholder="Enter your email")
                a.btn(href='#') Subscribe

            .content-wrapper
                p.copyright &copy; Copyright Beatrice Tan HTTP511, 2023.